.player{
    width: 100%;
    max-width: 480px;
    background-color: #e5dee5;
    padding: 0;
    margin: 0 auto;
}

.dashboard{
    padding: 16px 0 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
}

header{
    text-align: center;
}

.cd{
    height: 250px;
    width: 250px;
    margin: 10px auto;
}

.cd img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.btn-box{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input{
    width: 70%;
    margin: 10px 10px 10px 10px;
}

.playlist{
    margin-top: 480px;
    padding: 20px 20px 10px;
}

.song{
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.thumb{
    width: 50px;
    height: 50px;
}

.thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.body{
    margin: 0px 20px 0px;
    width: 192px;
}

.title{
    padding: 0;
    margin: 0;
}

.author{
    padding: 0;
    margin: 0;
}

.btn-toggle-play{
    background-color: palevioletred;
    padding: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
}

.btn .fa-pause{
    display: none;
}

.player.play .btn-toggle-play .fa-play{
    display: none;
}

.player.play .btn-toggle-play .fa-pause{
    display: block;
}

.btn-random.btn-random--active{
    color: palevioletred;
}

.btn-repeat.btn-repeat--active{
    color: palevioletred;
}

.song.song--active{
    background-color: palevioletred;
    color: #fff;
}

.song:active{
    opacity: 0.8;
}

.ranger{
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    margin: 0;
}

.volume-range{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    top: 27%;
    right: -7%;
}

.volume-range input{
    width: 100px;
    transform: rotateZ(270deg);
    display: block;
    margin: 45px 0;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.2s;
}

.volume-range i{
    display: block;
    padding: 10px;
}

.volume-range .volume-percent{
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.2s;
}

.volume-range.volume-range--active input{
    opacity: 1;
    visibility: visible;
    transition: all ease 0.2s;
}

.volume-range.volume-range--active .volume-percent{
    opacity: 1;
    visibility: visible;
    transition: all ease 0.2s;
}

.option{
    padding-left: 25px;
    padding-right: 20px;
}

